#
# init.rc fragment for hostapd on Android
# Copyright (c) 2002-2016, Jouni Malinen <j@w1.fi>
#
# This software may be distributed under the terms of the BSD license.
# See README for more details.
#

on post-fs-data
    mkdir /data/vendor/wifi 0770 wifi wifi
    mkdir /data/vendor/wifi/hostapd 0770 wifi wifi
    mkdir /data/vendor/wifi/hostapd/sockets 0770 wifi wifi

#  QTI_BEGIN: 2019-12-03: WLAN: hostapd: Add global interface support in service definition
service hostapd /vendor/bin/hw/hostapd -dd -g /data/vendor/wifi/hostapd/global
#  QTI_END: 2019-12-03: WLAN: hostapd: Add global interface support in service definition
    interface aidl android.hardware.wifi.hostapd.IHostapd/default
    class main
    capabilities NET_ADMIN NET_RAW
    user wifi
    group wifi net_raw net_admin
    disabled
    oneshot
